
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; }

#app { position: relative; width: 100%; }

h1 { font: bold 36px/43px $mainFontFamily; }

p { font: normal 14px/17px $mainFontFamily; letter-spacing: .21px; }
b { font-weight: bold; }

a { color: $linkColor; transition: all .3s ease-out;
  &:hover, &:active { color: $linkColor; }

  svg { transition: fill, stroke .3s ease-out; }
}

.container { width: 100%; margin: 0 auto; padding: 2rem 1rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { position: relative; width: $laptopWidth; padding: 2rem; grid-gap: 2rem; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) {}
}

@media screen and (min-width: $laptopWidth) {
  h1 { font-size: 72px; line-height: 78px; }
}
@media screen and (min-width: $desktopWidth) {
  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $mainColor; outline: none; }
  ::-webkit-scrollbar-corner { background: $mainColor; }
  ::-webkit-resizer { background: $DarkGrey; }

  body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; }

  a:hover { color: $linkColor_hover; }
}


/* Layout styles */
header { @include z-index('header');
  .container { height: 4.75rem; padding: 2.5rem 1rem 0;
    .header { display: flex; justify-content: space-between; align-items: center;
      &-logo a { display: flex;
        svg { width: 106px; height: 36px; flex: none; }
      }
    }

    @media screen and (min-width: $laptopWidth) { height: 7.75rem; padding: 2.5rem 2rem 0;
      .header {
        &-logo a svg { width: 129px; height: 44px; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .header {}
    }
  }
}

main { @include z-index('main'); }

footer { @include z-index('footer');
  .container { padding: 1.125rem 1rem;
    .footer {
      &-copyright p span { font-size: 16px; line-height: 19px; }
    }

    @media screen and (min-width: $laptopWidth) { padding: 2.25rem 2rem;
      // .footer {}
    }
    @media screen and (min-width: $desktopWidth) {
      .footer {
        &-copyright p a:hover { text-decoration: underline; }
      }
    }
  }
}


/* Page styles */
@import 'page/index';
