extends include/main

block variables
  - let title = 'Get Invoice'
  - let description = ''

block content
  section#index
    .container
      .index.content
        .index__main
          .index__title
            h1 Professional Invoices in Seconds
          .index__link
            a(href='#' target='_blank' title='Open App Store')
              svg
                use(href='/image/icon/app-store.svg#app-store')
        .index__images
          .index__image.index__image-1
            img(src='/image/illustration/iPhone-14-Pro.png' srcset='/image/illustration/iPhone-14-Pro@2x.png 2x, /image/illustration/iPhone-14-Pro@3x.png 3x' loading='eager' alt='illustration')
          .index__image.index__image-2
            img(src='/image/illustration/iPhone-14-Pro-2.png' srcset='/image/illustration/iPhone-14-Pro-2@2x.png 2x, /image/illustration/iPhone-14-Pro-2@3x.png 3x' loading='eager' alt='illustration')
        .index__bg
          picture
            source(srcset='/image/illustration/main.png 1x, /image/illustration/main@2x.png 2x, /image/illustration/main@3x.png 3x' media='(min-width: 992px)' type='image/png')
            img(src='/image/illustration/main.m.png' srcset='/image/illustration/main.m@2x.png 2x, /image/illustration/main.m@3x.png 3x' loading='eager' alt='illustration')
