
/* SF Pro Display */
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('../font/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2'),
    url('../font/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('../font/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2'),
    url('../font/SFProDisplay/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
