
/* Reset settings */
html { width: 100vw; box-sizing: border-box; overflow-x: hidden; }

*, *::before, *::after { box-sizing: inherit; }

body,
ol, ul,
h1, h2, h3, h4, h5, h6,
p,
form, fieldset { margin: 0; padding: 0; }

body { width: 100%; min-height: 100vh; overflow: hidden; }

header, main, footer, section,
form, fieldset { position: relative; width: 100%; }

ol, ul { list-style: none; }

a { text-decoration: none; }

blockquote, q { quotes: none;
  &::before, &::after { content: ''; }
}

hr { height: 1px; border: none; }

img { max-width: 100%; height: auto; }
svg { fill: currentColor; }

fieldset, textarea, input { border: none; font: inherit; appearance: none;
  &:active, &:focus { outline: none; }
}
