
/* Brand colors */
$Black                     : #000000;
$DarkGrey                  : #3c3c43;
$White                     : #ffffff;

$Blue                      : #0000ff;
$Red                       : #ff0000;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'SF Pro Display', sans-serif;
$mainLineHeight            : 1.5;

/* Screen resolution */
$mobileWidth               : 320px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1204px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : $Black;
$mainBackground            : $White;
$linkColor                 : rgba($DarkGrey, .6);
$linkColor_hover           : rgba($DarkGrey, .8);

$successColor              : $Blue;
$errorColor                : $Red;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($Black, .6);
