footer
  .container
    .footer.content
      .footer-copyright
        p
          | &copy; 2023 All Rights Reserved. Alfa Apps
          br
          span
            a(href='#' target='_blank' title='Terms of Service') Terms of Service
            |  and 
            a(href='#' target='_blank' title='Privacy Policy') Privacy Policy
