
/* Index page */
#index {
  .container {
    .index { display: flex; flex-direction: column;
      &__title { margin-right: 33%; }
      &__link { margin-top: 1.5rem;
        a svg { width: 140px; height: 40px; }
      }
      &__images { margin-top: 3rem; }
      &__image { display: flex;
        &-2 { display: none; }

        img { width: 244px; height: 494px; }
      }
      &__bg { position: absolute; top: -26px; right: 0; display: flex; z-index: -1;
        img { height: 100%; max-width: none; }
      }
    }

    @media screen and (min-width: $laptopWidth) { min-height: 44.25rem;
      .index { flex-direction: row; justify-content: space-between;
        &__main { width: calc((100% - 2rem) / 2); }
        &__title { margin: 3.5rem 0 0 0; }
        &__link { margin-top: 2.75rem;
          a svg { width: 200px; height: 58px; }
        }
        &__images { position: relative; width: calc((100% - 2rem) / 2); margin: 3.9375rem 0 0 2rem; }
        &__image {
          &-1 { position: absolute; top: 87px; right: 152px; }
          &-2 { display: flex; justify-content: flex-end; }

          img { width: 248px; height: 504px; }
        }
        &__bg { top: -124px; right: -106px; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index {
        &__bg { right: -34px; }
      }
    }
  }
}
